Django==1.8
Pillow==4.1.0
argparse==1.2.1
django-daterange-filter==1.3.0
django-extensions==1.6.7
django-request==1.5.1
djangorestframework==3.3.3
olefile==0.44
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
wsgiref==0.1.2
gunicorn==19.6.0
dj-database-url==0.4.1
psycopg2==2.6.2
whitenoise==2.0.6

